body {
    margin: 0;
    padding: 0;
    background-color: #001326ff;
    color: #50a6f8ff;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#container {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ff9100ff;
    background: #dde8cbff;
    color: black;
    text-align: left;
}

#container h1 {
    font-size: 20px;
}

#header {
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    padding: 0.5em;
    background-color: cadetblue;
    color: midnightblue;
    font-weight: bold;
}

#header #logo {
    width: 20px;
    vertical-align: middle;
}

#header #tagline {
    padding: 0 0 0 1em;
    font-size: 0.8em;
    font-weight: normal;
}

#post {
    padding: 1em;
}

#footer {
    padding: 0.5em;
    background-color: darkcyan;
    color: #50a6f8ff;
    text-align: center;
}

#footer a {
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: oblique;
}